<!DOCTYPE html>
<html ng-app="h4ck">
<head>
    <title>h4ck</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css"/>
</head>
<body class="container" data-ng-controller="h4ck">
    <div class="row">
        <div class="span4">
            <ul class="nav nav-list">
                <li class="nav-header">notifications</li>
                <li data-ng-repeat="n in notifications">{{n.content}}</li>
            </ul>
            <!--<div class="alert alert-{{n.type}}" data-ng-repeat="n in notifications">
                <strong>{{n.type}}</strong> {{n.content}}
            </div>-->
        </div>
        <div class="span4">
            <ul class="nav nav-list">
                <li class="nav-header">controlled sites</li>
                <li data-ng-repeat="n in controlledSites">{{sites[n].url + " (" + sites[n].ip + ")"}}</li>
            </ul>
        </div>
        <div class="span4">
            <ul class="nav nav-list">
                <li class="nav-header">attacked sites</li>
                <li data-ng-repeat="n in attackedSites">{{sites[n].url + " (" + sites[n].ip + ")"}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12" id="terminal">
            <div>
                <span data-ng-repeat="m in reverse(messages)">{{m.time + " " + m.content}}<br/></span>
            </div>
            <div class="bottom">
                <span id="message">{{ computer + ":" + folder + " " + user + "$" }}&nbsp;</span>
                <form ng-submit="addMessage()">
                    <input type="text" id="input" data-ng-model="input"/>
                </form>
            </div>
        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.4.0.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>